* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(22, 22, 22);
    color: white;
    font-family: 'Kanit', sans-serif;
}

header {
    width: auto;
    height: 80px;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 4px solid rgb(42, 42, 255);
}

header h1 {
    font-size: 40px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: auto;
    height: 400px;
}

.container .principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 

.container .principal .texto {
    font-size: 24px;
    font-weight: 100;
}

.container .principal .formulario input{
    font-size: 20px;
    width: 400px;
    padding: 4px;
}

.container .principal .formulario button{
    font-size: 20px;
    padding: 4px;
}
